{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <form method="POST" action="/game">
                <p>
                    Computer level?
                </p>
                <select name="level">
                    <option value="easy">Easy</option>
                    <option value="difficult">Difficult</option>
                </select>

                <div style="margin-top: 50px;">
                    <input type="submit" name="startGame" value="START GAME">
                </div>
            </form>
        </div>
    </div>
{% endblock %}
