{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <form method="POST">
                {% for i in 1..3 %}
                    {% for j in 1..3 %}
                        <div class="cell color-{{ board[i][j] }}">
                            <input type="hidden" name="cell_{{ i }}_{{ j }}" class="cell-value" value="{{ board[i][j] }}"  >
                        </div>
                    {% endfor %}
                {% endfor %}
                <div class="clear"></div>
            </form>
        </div>
    </div>

    <script>
    $(document).ready(function(){
        $('.cell').click(function(){
            var value = $(this).find('.cell-value').val();
            if (value == '0'){
                $(this).find('.cell-value').val('1');
            }
            else{
                $(this).find('.cell-value').val('0');
            }

            $(this).closest('form').submit();
        });
    });
    </script>
{% endblock %}
