#wrapper {
    width: 310px;
    height: auto;
    margin: 0 auto 0 auto;
}

.cell {
    float: left;
    border: 1px solid #3c3c3c;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.clear {
    clear: both;
}

.color-0 {
    background: white;
}

.color-1 {
    background: green;
}

.color-2 {
    background: red;
}
